CLI/sph_config.json
functions/__pycache__/
functions/applets/__pycache__/
functions/applets/mein_unterricht/__pycache__/
functions/applets/nachrichten/__pycache__/
main.pyc
main.pyo
playground.py
main.py 
test_meinunterricht.py
test_nachrichten.py
temp/
CLI/__pycache__/
*/__pycache__/
functions/applets/benutzter/__pycache__/
functions/applets/login/__pycache__/
functions/applets/mein_unterricht/__pycache__/
functions/applets/mein_unterricht_detailed/__pycache__/
functions/applets/nachrichten/__pycache__/
__pycache__/
.env

data/user_metrics.db

*/__pycache__/*
functions/tools/__pycache__/cryptor.cpython-311.pyc